@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: guardians;
  src: url("./assets/Guardians.ttf");
}
.guardians {
  font-family: guardians;
}

@font-face {
  font-family: therace;
  src: url("./assets/Therace.ttf");
}
.therace {
  font-family: therace;
}
@font-face {
  font-family: thefire;
  src: url("./assets/Firestor.ttf");
}
.thefire {
  font-family: thefire;
}
@font-face {
  font-family: nexa;
  src: url("./assets/Nexa-Heavy.ttf");
}
.nexa {
  font-family: nexa;
}


.apphero{
  /* background: #000000; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.501), rgba(0, 0, 0, 0.616)),url("./assets/apphero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 70vh;
}

